---
layout: default
---

{% assign posts = site.posts | sort: 'date' | reverse %}
<div class="home">
	{%- if page.title -%}
	<h1 class="page-heading">{{ page.title }}</h1>
	{%- endif -%}
	
	{{ content }}
	
	{% if posts.size > 0 -%}
	<ul class="post-list">
		{% for post in posts %}
		{% if post.categories == page.categories %}<li>
			{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
			<span class="post-meta">{{post.date | date: date_format}}</span>
			<h3>
				<a class="post-link" href="{{post.url | relative_url}}">{{post.title | escape}}</a>
			</h3>
		</li>{% endif %}
		{% endfor %}
		{%- if site.show_excerpts -%}
		{{ post.excerpt }}
		{%- endif -%}
	</ul>
	{%- endif -%}
</div>
