---
layout: default
---

{% assign posts = site.posts | sort: 'date' | reverse %}
<div class="home">

	{{ content }}
	
	{% if posts.size > 0 -%}
	{% for post in posts %}
	{% if post.categories == page.categories %}
	<div class = "blog-container">
		<div class = "blog-header">
			<div class = "blog-author--no-cover">
				<h3>Jongheon</h3>
			</div>
		</div>
		<div class = "blog-body">
			<div class = "blog-title">
				<h1><a href="{{post.url|relative_url}}">{{post.title}}</a></h1>
				{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
				<span class="post-meta">{{post.date | date: date_format}}</span>
			</div>
			{% if post.summary %}
			<div class = "blog-summary">
				<p>{{post.summary}}</p>
			</div>
			{% endif %}

			{% if post.tags.size > 0 %}
			<div class = "blog-tags"><ul>
				{% assign tags = post.tags %}
				{% for tag in tags %}
				<li><a href="#">{{tag}}</a></li>
				{% endfor %}
			</ul></div>
			{% endif %}
		</div>
	</div>
	{% endif %}
	{% endfor %}

		{%- if site.show_excerpts -%}
		{{ post.excerpt }}
		{%- endif -%}
	</ul>
	{%- endif -%}
</div>
