---
layout: default
---

<div id="first_section" class = "home_section">
	<div id = "overlay">
		<div class = "intro-message">
			<h1>{{site.title}}</h1>
			<h3>Portfolio Web Page</h3>
		</div>
	</div>
</div>

<section id = "second_section" class = "home_section">
	{% assign projects = site.html_pages | where_exp: "page","page.project == true" | sort : 'order' %}
	{% for project in projects %}
	<a href = "{{project.link}}" target="_blank">
		<section>
			<div class = "overlay">
				<div class = "description">
					<p>{{project.description}}</p>
					<h6>Tools<span class = "glyphicon glyphicon-cog"></span></h6>
					{% assign tools = project.tools %}
					<ul class = "tools vertical-list">
						{% for tool in tools %}
						<li>{{tool}}</li>
						{% endfor %}
					</ul>
				</div>
				<img alt = "{{project.title}}" src = "{{project.img_link}}">
				<h4 class = "heading"><span class = "glyphicon glyphicon-hand-up"></span>{{project.title}}</h4>
			</div>
		</section>
	</a>
	{% endfor %}
</section>
